<div class="panel panel-primary">
  <div class="panel panel-heading panel-text">
    <h6>Listing pins</h6>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Description</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
      </thead>

      <tbody>
        <% @pins.each do |pin| %>
          <tr>
            <td><%= pin.description %></td>
            <td><%= link_to '', pin_path(pin), class: 'glyphicon glyphicon-eye-open btn btn-primary' %></td>
            <td><%= link_to '', edit_pin_path(pin), class: 'glyphicon glyphicon-edit btn btn-warning' %></td>
            <td><%= link_to '', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="panel-footer">
    <%= link_to 'New Pin', new_pin_path, class: 'btn btn-success' %>
  </div>
</div>